@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
    font-size: 16px;
    font-family: "Open Sans";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #81000033;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}
* {
    margin: 0;
    padding: 0;
}

.link-text {
    font-family: monospace;
}

html{
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    position: absolute;
    margin-top: 400px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.navbar {
    position: absolute;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
    color: #ff3f81;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #ff3f81;
    border-right: none;
    padding: 5px;
    height: 25px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #23153c;
}

.searchTerm:focus {
    color: #23153c;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #ff3f81;
    background: #ff3f81;
    text-align: center;
    color: #23153c;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Small screens */
@media only screen and (max-width: 1272px) {
    div#container {
        width: 100%;
        height: 100vh;
    }
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
    div#spotify {
        display: flex;
    }

    div#spotify iframe {
        margin-right: auto;
        margin-left: auto;
        padding-top: 100px;
        width: 80%;
        height: 80%;
    }
    img#MHA {
        width: 0;
        height: 0;
    }
    div.MH {
        display: flex;
        justify-content: center;
        margin-left: 250px;
        padding-top: 70px;
    }
    h1.MainHeading {
        color: #ff3f81;
        font-family: "Russo One", sans-serif;
        font-size: 50px;
        padding-right: 256px;
        text-align: center;
        text-shadow: 2px 2px 3px rgb(5, 240, 37);
    }
    img#logo {
        display: inline;
        height: 45px;
        width: 45px;
    }
    footer {
        height: 0;
        width: 0;
    }
    .search {
        margin-bottom: 20px;
    }
}

/* Large screens */
@media only screen and (min-width: 1272px) {
    div#container {
        width: 100%;
        height: 85vh;
    }
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }

    div#spotify {
        display: flex;
        float: right;
    }

    div#spotify iframe {
        padding-right: 40px;
        width: 80%;
        height: 400px;
    }
    img#MHA {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 75%;
        margin-top: 170px;
    }
    div.MH {
        display: flex;
        margin-left: 300px;
        margin-right: 256px;
    }
    img#logo {
        display: block;
        height: 88px;
        width: 88px;
    }
    h1.MainHeading {
        color: #ff3f81;
        font-family: "Russo One", sans-serif;
        font-size: 70px;
        padding-right: 256px;
        text-align: center;
        text-shadow: 2px 2px 3px rgb(5, 240, 37);
    }
    footer {
        background-color: #141418;
        height: 140px;
    }
    .search {
        margin-bottom: 270px;
    }
}
